:root {
    --primary: #9b0096;
}
/* updates at top instead of going through every one individually */

.btn {
    padding: 8px 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* the class we used in button.js */
.btn--primary {
    background-color: var(--primary);
    color: #ffffff;
    border: 1px solid var(--primary);
}

.btn--outline {
    background-color: transparent;
    color: #711d6e;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover{
    background: rgb(92, 6, 91);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-out;
}