.playfair-display-color {
  margin-top: 50px;
    color: #750671;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: xxx-large;
    font-style: normal;
    margin-left: 100px;
  }

.topic{
  color: #750671;

}

.org-brief{
  font-size: x-large  ;
  margin-left: 100px;
  margin-right: 100px;
  word-spacing: 0.5rem;
  color: #470845;
}
.report-btn ,.company-btn{
  border: none;
  color: rgb(0, 0, 0);
  padding: 20px 40px; /* Adjust padding as needed */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; /* Increase font size */
  /* margin: 0 auto; Center button horizontally */
  margin-left: 100px;
  transition-duration: 0.4s; /* Transition duration for hover effect */
  cursor: pointer;
  border-radius: 8px; /* Rounded corners */
  color: #750671;
  background-color: rgba(255, 255, 255, 0.171);
  border: #750671 1px solid;
}

.report-btn:hover ,.company-btn:hover{
  background-color: #750671; /* Change background color on hover */
  color: white;
}

.home-div{
  background-image: url(bg.jpg);
  margin-top: -50px;
  background-size: auto;
}